.dash-banner{
    height:80vh;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/dashboard_back.jpg);
	background-size:cover;
	background-position:center;
	color:white;
}
.dash-banner h1
{
	padding-top:170px;
	font-size:2.1rem;
	letter-spacing:6px;
	font-weight:600;
    text-shadow:0 0 30px rgba(0,0,0,0.5);
    color: yellow;
}


.info-container1{
	position: absolute;
	top:135%;
	left:25%;
	transform:translate(-50%,-50%);
	width:290px;
	padding:20px;
	background-image: linear-gradient(to right, #8e69c5, #6202EE);
	box-sizing:border-box;
	border-radius:10px;
	box-shadow:0 15px 50px rgba(0,0,0,0.2);
}
.info-container2{
	position: absolute;
	top:135%;
	left:50%;
	transform:translate(-50%,-50%);
	width:290px;
	padding:20px;
	background-image: linear-gradient(to right, #8e69c5, #6202EE);
	box-sizing:border-box;
	border-radius:10px;
	box-shadow:0 15px 50px rgba(0,0,0,0.2);
}
.info-container3{
	position: absolute;
	top:135%;
	left:75%;
	transform:translate(-50%,-50%);
	width:290px;
	padding:20px;
	background-image: linear-gradient(to right, #8e69c5, #6202EE);
	box-sizing:border-box;
	border-radius:10px;
	box-shadow:0 15px 50px rgba(0,0,0,0.2);
}
.project-info-dashboard h1{
    font-size: 1.3rem;
    color: orange;
    font-weight: bold;
}
.project-info-dashboard p{
	font-size: 1.4rem;
}
#project-team{
   margin-top: 50%;
    padding:100px 0;
   
}
#project-team h3::before
{
	content:'';
	background-image:linear-gradient(to right, #800080, #4B0082);
	width:50px;
	height:30px;
	position:absolute;
	z-index:-10;
	margin-top:-15px;
	border-top-left-radius:70px;
	border-bottom-right-radius:90px;
}
#project-team h3
{
    margin-bottom:30px;
    font-weight: bold;
}
.stats-box
{
	padding:30px;
    border-radius:10px;
	margin:20px 0;
	box-shadow:0 2px 40px 0 rgba(110,130,208, .18);
}
.stats-box p
{
	font-size: 18px;
    color:#6202EE;
    font-weight: bold;
}
#footer-dash
{
  margin-top: 10px;
	background:#f8f9fd;
	padding:20px 10px 8px;
}
#footer-dash p
{
	color:#333;
}
#footer-dash a img
{
	width:300px;
}
@media screen and (max-width: 1200px) {
	.info-container1{

		top:135%;
		left: 20%;
		width:290px;
		padding:20px;
		
	}
	.info-container2{
		top:135%;
		left:50%;
		
		width:290px;
		padding:20px;
	}
	.info-container3{
		top:135%;
		left:80%;
		
		width:290px;
		padding:20px;
	}
	.project-info-dashboard h1{
		font-size: 1.5rem;
		
	}
	.project-info-dashboard p{
		font-size: 1.1rem;
	}
}
@media screen and (max-width: 1100px) {
	.info-container1{

		top:135%;
		left: 50%;
		width:290px;
		padding:20px;
		
	}
	.info-container2{
		top:210%;
		left:50%;
		
		width:290px;
		padding:20px;
	}
	.info-container3{
		top:285%;
		left:50%;
		
		width:290px;
		padding:20px;
	}
	.project-info-dashboard h1{
		font-size: 1.5rem;
		
	}
	.project-info-dashboard p{
		font-size: 1.1rem;
	}
	#project-team{
		margin-top: 170%;
		 padding:100px 0;
		
	 }

}
@media screen and (max-width: 899px){
	.info-container1{

		top:135%;
		left: 50%;
		width:290px;
		padding:20px;
		
	}
	.info-container2{
		top:210%;
		left:50%;
		
		width:290px;
		padding:20px;
	}
	.info-container3{
		top:285%;
		left:50%;
		
		width:290px;
		padding:20px;
	}
	.project-info-dashboard h1{
		font-size: 1.5rem;
		
	}
	.project-info-dashboard p{
		font-size: 1.1rem;
	}
	#project-team{
		margin-top: 190%;
		 padding:100px 0;
		
	 }

}
@media screen and (max-width: 500px){
	.info-container1{

		top:135%;
		left: 50%;
		width:290px;
		padding:20px;
		
	}
	.info-container2{
		top:210%;
		left:50%;
		
		width:290px;
		padding:20px;
	}
	.info-container3{
		top:285%;
		left:50%;
		
		width:290px;
		padding:20px;
	}
	.project-info-dashboard h1{
		font-size: 1.5rem;
		
	}
	.project-info-dashboard p{
		font-size: 1.1rem;
	}
	#project-team{
		margin-top: 420%;
		 padding:100px 0;
		
	 }
}

